@model MakeYourPartyServer.Models.PartyViewModel
@{
    ViewBag.Title = "Create Party";
}

@if (Request.IsAuthenticated)
{
    var name = User.Identity.Name;
    <h1>Hi @name! Let's create your party?</h1>


    using (Html.BeginForm("CreateParty", "Party", FormMethod.Post, new { id = "createPartyForm", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
    
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    
        <input type="submit" value="Create Party" class="btn btn-primary btn-lg" />
    }
}
else
{
    <h2>Please log in:</h2>

    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
