@model MakeYourPartyServer.Models.PartyViewModel
@{
    ViewBag.Title = "Party";
}

@Html.HiddenFor(x => x.PartyId)
@Html.HiddenFor(x => x.UserId)

<div class="row">
    <div id="div-hero" class="col-xs-6">
        <h1>Let's add some music?</h1>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.SearchText, new { @class = "form-control" })
            </div>
        </div>
        <input id="btn-search" value="Search Music" class="btn btn-primary btn-lg" />
    </div>
    <div id="div-hero" class="col-xs-6">
        <h2>Now Playing</h2>
    </div>
</div>

<div class="row">
    <div id="div-search-videos-list" class="col-xs-6">
        <h2>Search Result</h2>
    </div>

    <div id="div-playlist" class="col-xs-6" >
        @Html.Partial("_Playlist", new List<MakeYourPartyServer.Models.ViewModel.PlaylistViewModel>())
    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#btn-search").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchMusics", "Party")',
                data: {
                    SearchText : $("#SearchText").val(),
                    PartyId : $("#PartyId").val(),
                    UserId : $("#UserId").val()
                },
                success: function (data) {
                    $("#div-search-videos-list").append(data);
                },
                error: function () {
                    alert('failure');
                }
            });
        });

        $("#div-search-videos-list").on("click", "input", function (event) {

            var parent = $(this).parent();
            var title = parent.find("#music_Title").val();
            var videoId = parent.find("#music_VideoId").val();
            var partyId = $("#PartyId").val();
            var userId = $("#UserId").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddToPlaylist", "Party")',
                data: {
                    VideoId: videoId,
                    PartyId: partyId,
                    UserId: userId,
                    Title : title
                    },
                success: function (data) {
                        $("#div-playlist").html(data);
                },
                error: function () {
                    alert('failure');
                }
            });
        });

    });
</script>

